<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Controllers</title>
</head>
<body>
  <h2>AngularJS Sample Application</h2>
  <div ng-app="myApp03" ng-controller="studentController">
    Enter first name: <input type="text" ng-model="student.firstName"><br><br>
    Enter last name: <input type="text" ng-model="student.lastName"><br><br>
    You are entering: {{student.fullName()}}
  </div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script type="text/javascript" src="js/mainApp.js"></script>
  <script type="text/javascript" src="js/controller.js"></script>
</body>
</html>