<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Expressions</title>
</head>
<body>

  <!-- app 02-->
  <h2>APP 02</h2>
  <div ng-app="myApp02" ng-init="quantity=1;cost=30;
                                student={firstname:'Mahesh',lastname:'Parashar',rollno:101};marks=[80,90,75,73,60]">
    <p>Hello {{student.firstname + " " + student.lastname}}!</p>
    <p>Expense on Books : {{cost * quantity}} Rs</p>
    <p>Roll No: {{student.rollno}}</p>
    <p>Marks(Math): {{marks[3]}}</p>
    <p>My first expression: {{ 5 + 5 }}</p>
  </div>
  
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script type="text/javascript" src="js/mainApp.js"></script>
  <script type="text/javascript" src="js/controller.js"></script>
</body>
</html>