<table border="0">
  <tr>
    <td>Enter first name:</td>
    <td><input type="text" ng-model="student.firstName"></td>
  </tr>
  <tr>
    <td>Enter last name:</td>
    <td><input type="text" ng-model="student.lastName"></td>
  </tr>
  <tr>
    <td>Name:</td>
    <td>{{student.fullName()}}</td>
  </tr>
</table>