<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Views</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-cookies.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-touch.min.js"></script>
</head>
<body>

  <div ng-app="mainApp">
    <p>
      <a href="#addStudent">Add Student</a>
    </p>
    <p>
      <a href="#viewStudents">View Students</a>
    </p>
    <div ng-view></div>
    <script type="text/ng-template" id="addStudent.htm">
        <h2> Add Student </h2> {{message}}
    </script>
    <script type="text/ng-template" id="viewStudents.htm">
        <h2> View Students </h2> {{message}}
    </script>
  </div>

<script>
var mainApp = angular.module("mainApp", ['ngRoute']);

mainApp.config(['$routeProvider', function($routeProvider) {
  $routeProvider.when('/addStudent', {
    templateUrl: 'addStudent.htm',
    controller: 'AddStudentController'
  }).
  when('/viewStudents', {
    templateUrl: 'viewStudents.htm',
    controller: 'ViewStudentsController'
  }).
  otherwise({
    redirectTo: '/addStudent'
  });
}]);

mainApp.controller('AddStudentController', function($scope) {
  $scope.message = "This page will be used to display add student form";
});

mainApp.controller('ViewStudentsController', function($scope) {
  $scope.message = "This page will be used to display all the students";
});
</script>



</body>
</html>